@{
    ViewBag.Title = "Все продукты";
}

<div class="text-center">

    <table class="table-condensed">
        <caption>
            @ViewBag.Category
        </caption>
        <tr>
            <td>Наименование</td>
            <td>Категория</td>
            <td>Описание</td>
            <td>Стоимость в рублях</td>
            <td>Примечание общее</td>
            @if (!ViewBag.User.Equals("SimpleUser"))
            {
                <td>Примечание специальное</td>
            }
        </tr>
        @foreach (var product in ViewBag.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.CategoryName</td>
                <td>@product.Discription</td>
                <td>@product.Price</td>
                <td>@product.GeneralNote</td>
                @if (!ViewBag.User.Equals("SimpleUser"))
                {
                    <td>@product.SpecialNote</td>
                }
            </tr>
        }
    </table>
</div>
